# Client
ROVER_NAME=<rover-name>
THANOS_RECEIVE_URL=<thanos-receive-url>
THANOS_RECEIVE_CREDENTIALS=<thanos-receive-credentials>
IS_MOCK=true
BUILD_IMAGES=false
MONGODB_USERNAME=<mongodb-username>
MONGODB_PASSWORD=<mongodb-password>

# Server
OCP_HOSTNAME=<ocp-hostname>
OCP_USERNAME=<ocp-username>
OCP_PASSWORD=<ocp-password>
OCP_INTERNAL_REGISTRY=<ocp-internal-registry>
OCP_PROJECT_NAME=<ocp-project-name>
OCP_THANOS_PROJECT_NAME=<ocp-thanos-project-name>
OCP_GRAFANA_USERNAME=<grafana-username>
OCP_GRAFANA_PASSWORD=<grafana-password>
