<?xml version="1.0" encoding="UTF-8"?>
<server description="game service">

	<!-- Enable features -->
	<featureManager>
		<feature>jakartaee-9.1</feature>
		<feature>websocket-2.0</feature>
		<feature>mpConfig-3.0</feature>
		<feature>mpHealth-4.0</feature>
		<feature>mpMetrics-4.0</feature>
		<feature>mpRestClient-3.0</feature>
	</featureManager>
	<mpMetrics authentication="false" />
	<!-- To access this server from a remote client add a host attribute to 
		the following element, e.g. host="*" -->
	<httpEndpoint id="defaultHttpEndpoint" httpPort="9080"
		httpsPort="9443" host="*" />
	<variable name="app.context.root" defaultValue="/" />


	<!-- Automatically expand WAR files and EAR files -->
	<applicationManager autoExpand="true" />

	<!-- Configures the application on a specified context root -->
	<webApplication contextRoot="/"
		location="gameservice.war" />

	<cors domain="/game"
		allowedOrigins="*"
		allowedMethods="GET, POST" />
</server>
