<server description="Space Rover Leaderboard Server">
	<featureManager>
		<feature>jakartaee-9.1</feature>
		<feature>ssl-1.0</feature>
		<feature>passwordUtilities-1.0</feature>
		<feature>mpConfig-3.0</feature>
		<feature>mpHealth-4.0</feature>
		<feature>restfulWS-3.0</feature>
		<feature>mpMetrics-4.0</feature>
		<feature>mpOpenAPI-3.0</feature>
		<feature>mpFaultTolerance-4.0</feature>
	</featureManager>

	<variable name="default.http.port" defaultValue="9080" />
	<variable name="default.https.port" defaultValue="9443" />
	<variable name="app.context.root" defaultValue="/mongo" />

	<httpEndpoint host="*" httpPort="${default.http.port}"
		httpsPort="${default.https.port}" id="defaultHttpEndpoint" />

	<webApplication location="leaderboard.war"
		contextRoot="${app.context.root}" />
	<keyStore id="outboundTrustStore"
		location="${server.output.dir}/resources/security/truststore.p12"
		password="mongodb" type="PKCS12" />
	<ssl id="outboundSSLContext" keyStoreRef="defaultKeyStore"
		trustStoreRef="outboundTrustStore" sslProtocol="TLS" />

	<cors domain="/mongo/leaderboard"
		allowedOrigins="*"
		allowedMethods="GET, POST" />

    <mpMetrics authentication="false" />

</server>