<server description="game-service">
    <featureManager>
        <feature>restfulWS-3.0</feature>
        <feature>jsonb-2.0</feature>
        <feature>mpMetrics-4.0</feature>
    </featureManager>

    <httpEndpoint httpPort="${default.http.port}"
        httpsPort="${default.https.port}" id="defaultHttpEndpoint"
        host="*" />

    <webApplication location="game-service.war"
        contextRoot="${app.context.root}" />
</server>
